@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-sans-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

:root {
    --primary-background: #222222;
    --btn-primary: rgb(230, 83, 60);
    --Inter: "Inter", san-serif;
    --miami: 'Miama', sans-serif;
}

.italic-title {
    font-family: var(--miami, san-serif);
    font-size: 80px;
    font-weight: 900;
    line-height: .5;
    font-style: italic;
    This makes the text italic
}

.inter-sans-font {
    background-color: rgb(17, 17, 17);
}

.display-flex {
    display: flex;
}

.text-gray {
    color: rgb(255, 255, 255);
}

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;

}

.full-radius {
    width: 465px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    justify-content: space-between;
    align-items: center;
}

.font-radius {
    width: 92px;
    height: 38px;
    text-align: center;
    background: rgb(230, 83, 60);
    border-radius: 39px;
    align-items: center;
    justify-content: center;
}

.home-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand {
    font-weight: 800;
    font-size: 3rem;
    color: rgb(230, 83, 60);
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}

.ul-class {
    margin-left: -35px;
}

#checkbtn {
    font-size: 25px;
    color: white;
    display: none;
}

#check {
    display: none;
}


.healthy-height {
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    margin: 28px 0px;
    font-size: 78px;
    font-weight: 900;
}

.paragraph-height {
    height: 48px;
    width: 520px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5)
}

.join-now {
    width: 224px;
    height: 54px;
    font-size: 18px;
    border-radius: 39px;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);

}

.radius-one {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
}

.radius-two {
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
}

.btn-primary {
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    width: 206px;
    height: 96px;
}

.box-one {
    margin-left: -100px;
    margin-top: -150px;
}

.box-two {
    margin-left: 240px;
    margin-top: -410px;
}

.ball {
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-left: -15px;
    margin-top: -50px;
}

.exp-badge {
    margin-top: -280px;
}

#video-tutorial-number {
    font-weight: 900;
    font-size: 24px;
    color: white;
}

#video-tutorial {
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

#video-tutorial-number2 {
    font-weight: 900;
    font-size: 40px;
    color: white;
}

#video-tutorial2 {
    font-size: 13px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

/* main section starts here */
#habit {
    width: 476px;
    height: 57px;
    font weight: 900;
    font size: 48px;
    color: rgb(255, 255, 255);
}

.fitness {
    width: 671px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -30px;
}

.image-style {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.believe {
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.img-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.your-habit {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}

.all-main-part {
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.display-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Inside Auto Layout */
.box-shado {
    width: 1300px;
    height: 371px;
    margin: 62px 0px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    margin-left: 100px;
}

.colour {
    color: white;
}

.run-image {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    Object-fit: none;
    object-position: 67% 30%;
}

.easily-flex {
    display: flex;
    justify-content: space-around;
}

/* Bmi checker part here */
.bmi-header {
    text-align: center;
}

.bmi-size {
    color: white;
    font-size: 48px;
}

.box-shado-bmi {
    width: auto;
    height: 487px;
    background: rgb(34, 34, 34);
}

/* BMI Calculator Section */
.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.calc h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.calc p {
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
}

/* BMI Calculator section starts here */
.BMI {
    background: #222222;
    color: white;
    padding-bottom: 120px;
    padding-top: 60px;
}

.BMI-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, .1);
    border-collapse: collapse;
    padding: 15px 30px;
    font-size: 14px;
}

table {
    margin-top: 60px;
}

td {
    color: rgba(255, 255, 255, 0.5);
}

th {
    font-weight: 600;
}

.chart-title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
}

.chart-desc {
    font-size: 16px;
    margin-top: 30px;
    color: rgba(255, 255, 255, .6);
}

.calculator {
    box-sizing: border-box;
    margin: 0;
}

.measure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.calculator input {
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, .6);
    background: rgba(255, 255, 255, .1);
    border-radius: 8px;
    border: none;
    padding: 12px 40px 12px 20px;
    font-size: 16px;
    margin-top: 12px;
    box-sizing: border-box;
}

#sex {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, .1);
    border-radius: 8px;
    border: none;
    padding: 12px 40px 12px 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    box-sizing: border-box;
    margin-top: 12px;
}

#activity {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, .1);
    border-radius: 8px;
    border: none;
    padding: 12px 40px 12px 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 30px;
}

.calculator select>option {
    width: 100%;
    background: rgba(85, 85, 85, 0.9);
    border-radius: 8px;
    border: none;
    padding: 12px 40px 12px 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
    box-sizing: border-box;
    margin: 10px 12px;
}

.btn-calculate {
    width: 224px;
    height: 54px;
    top: 332px;
    left: 0px;
    border-radius: 42px
}

.btn-calculate {
    padding: 16px, 40px, 16px, 40px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* Meet our team part starts here */

.team {
    text-align: center;
}

.p-team {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5)
}

.box-shado-one {
    width: 1300px;
    height: 650px;
    margin: 62px 0px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all-image-box {
    width: 400px;
    height: 272px;
    border-radius: 18px;
}

.all-image-box-six {
    margin-bottom: -90px;
}

.image-text {
    margin-left: 10px;
}

.image-text h1 {
    margin-bottom: 0;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.image-text p {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.5);
}

/* Footer part starts here  */
.box-shado-two {
    width: 1500px;
    height: 390px;
    margin: 62px 0px;
    background: rgb(34, 34, 34);
}

.footer-style {
    color: #e6533c;
}

.footer-style-one {
    color: white;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
}

.footer-side {
    margin-bottom: -50px;
}

.item-center {
    text-align: center;
}

.footer-hr {
    Width: 1230px;
    Height: 0px;
    Top: 0px;
    Left: 0px;
    justify-content: center;
    margin: 0 auto;
}

/* Responsive media query for all */

/* Media Query for Mobile Devices Icon starts here */
@media (max-width: 576px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    #checkbtn {
        display: block;
        margin-bottom: -65px;
        margin-left: 400px;
        pointer-events: none;
    }

    .brand {
        font-size: 3rem;
        margin-right: auto;
        margin-top: 25px;
    }

    .full-radious {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .nav-link {
        color: white;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {

    .navbar,
    .nav-link,
    .exp-badge,
    .banner-image {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;

        .exp-badge {
            margin-bottom: -650px;
        }
    }

    .healthy-height {
        margin-left: 56px;
    }

}

@media screen and (max-width: 576px) {
    .all-main-part {
        margin-top: 1050px;
    }

    .your-habit {
        margin-left: 0;
        padding: 0 20px;
    }

    #habit {
        width: 100%;
        font-size: 32px;
        text-align: center;
    }

    .fitness {
        width: 100%;
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
    }

    .display-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-left: 170px;
    }

    .img-circle {
        width: 150px;
        height: 150px;
    }

    .image-style {
        font-size: 16px;
        text-align: center;
        margin-right: 150px;
    }

    .believe {
        width: 100%;
        text-align: center;
        margin-left: -50px;
    }
}

@media screen and (max-width: 576px) {
    .mile {
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
    }

    .colour {
        margin-top: -230px;
        margin-left: 40px;
    }

    .paragraph-height {
        margin-left: 40px;
    }

    .box-shado {
        width: 470px;
        height: 531px;
    }

    .box-shado {
        margin-left: -1px;
    }

    .run-image {
        width: 287px;
        height: 170px;
        border-radius: 18px;
        object-position: 67% 27%;
    }

    .run-image {
        margin-left: -660px;
        margin-bottom: -300px;
    }

    .join-now {
        margin-left: 40px;
        width: 287px;
    }
}

/* Bmi media quary for mobile device start hare */
@media screen and (max-width:576px) {
    .calc {
        padding: 30px;
    }

    .BMI-container {
        flex-direction: column;
        gap: 30px;
    }

    .BMI {
        padding: 30px;
    }

    .measure {
        margin-right: 10px;
    }
}

@media screen and (max-width:576px) {
    .calc {
        padding: 30px;
    }

    .BMI-container {
        flex-direction: column;
        gap: 30px;
    }

    .BMI {
        padding: 30px;
    }

    .measure {
        margin-right: 10px;
    }
}

/* Media Query for Mobile Devices start hare*/

@media (max-width: 600px) {
    .box-shado-one {
        width: 100%;
        height: auto;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .all-image-box {
        width: 400px;
        height: 272px;
        border-radius: 18px;
        margin-top: 10px;

    }

    .mobile-device {
        margin-top: 500px;
    }

    .p-team {
        font-size: 14px;
    }
}



/* Footer Part Media Query for Mobile Devices start hare */
@media (max-width: 576px) {
    .box-shado-two {
        width: 100%;
        height: 1000px;
        margin: 20px 0;
        padding: 20px;
    }

    .footer-flex {
        flex-direction: column;
        align-items: center;
    }

    .footer-one,
    .footer-two,
    .footer-three {
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
    }

    .footer-style {
        font-size: 70px;
    }

    .footer-style-one {
        font-size: 32px;
    }

    .p-team {
        font-size: 14px;
        line-height: 1.6;
    }

    .footer-hr {
        width: 90%;
    }
}

/* Footer Part Media Query for Mobile Devices ends here */